h1 {
    text-align: center;
}

.board {
    margin: 30px auto ;
    width: 450px;
    height: 450px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:5px ;
}

.square {
    width: 145;
    height: 145px; 
    border: 1px solid rgb(111,12,165) ;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.restart {
    text-align: center;
    margin-left:48%;
}

.turn {
    text-align: center;
}